body{
  background:pink;
  background-image: url(https://images.unsplash.com/photo-1580316008590-43d5fb8cc3cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2VycyUyMGluJTIwYSUyMHZhc2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  text-emphasis-color: blue;
  font-size: larger;
}
p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
